<mat-card class="container">
    <div>
        <mat-card-title class="in">About Me</mat-card-title>
        <mat-icon class="right-button" type="button" (click)="save()" aria-hidden="false" aria-label="save button">save</mat-icon>    
    </div>
            
    <mat-card-content>
        <ejs-richtexteditor #typeRTE [toolbarSettings]='tools' #dataContainer>
            <ng-template #valueTemplate>
                <p>The Rich Text Editor triggers events based on its actions. </p>
            </ng-template>
        </ejs-richtexteditor>
    </mat-card-content>   
</mat-card>