<div class = "container">
  <div class="row">
    <div class= "col-10">
      <h1>{{user["name"] | uppercase }}</h1>
      <h3>{{user["occupation"]}}</h3>
    </div>
    <div class="col-1" style="float: right;">
      <img [src]= "image" alt="userimage" style="border-radius: 50%;"/>    
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-6"><h3>Phone: {{user["number"]}}</h3></div>
      <div class="col-4"><h3>Email: {{user["email"]}} </h3></div>
      <div class="w-100"></div>
      <div class="col-6"><h3>Github: {{user["github"]}}</h3></div>
      <div class="col-4"><h3>Location: {{user["location"]}}</h3></div>
    </div>
  </div>
</div>



