<mat-card class="container">
    <div>
        <input type="button" value="Add project" (click)="addProject()" class="btn btn-light">
    </div>
    
    <div *ngFor='let project of projects, let i = index'>
        <div type="project" [attr.name]="project">
            <mat-card-header >
                <mat-card-title>Project</mat-card-title>
            </mat-card-header>    
            <mat-card-content>
                <ejs-richtexteditor [toolbarSettings]='tools'>
                    <ng-template #valueTemplate>
                        <p>The Rich Text Editor triggers events based on its actions. </p>
                    </ng-template>
                </ejs-richtexteditor>
            </mat-card-content>   
    
            <mat-card-header>
                <mat-card-title>Role / Responsibilities</mat-card-title>
            </mat-card-header>    
            <mat-card-content>
                <ejs-richtexteditor [toolbarSettings]='tools'>
                    <ng-template #valueTemplate>
                        <p>The Rich Text Editor triggers events based on its actions. </p>
                    </ng-template>
                </ejs-richtexteditor>
            </mat-card-content>  
    
            <mat-card-header>
                <mat-card-title>Technologies</mat-card-title>
            </mat-card-header>    
            <mat-card-content>
                <ejs-richtexteditor [toolbarSettings]='tools'>
                    <ng-template #valueTemplate>
                        <p>The Rich Text Editor triggers events based on its actions. </p>
                    </ng-template>
                </ejs-richtexteditor>
            </mat-card-content>
            <input type="button" value="Delete project" (click)="deleteProject(i)">
            <br>
            <br>
        </div>
    </div>      
</mat-card>
